h1{
    text-align: center;
    color: chocolate;
}

h2{
    text-align: center;  
}
label
{
    text-align: center;  
}
p{
    text-align: center; 
}
input[id="name"]
{
    text-align: center; 
}
body{
    background-color: antiquewhite;
}

#myFile
{
    text-align: center;
   margin-left:650px;
   padding: 10px;
}

#File
{
    margin-left:650px;  
}
#Fill
{
    text-align: center;
    margin-left:650px;

}